# 1

In [27]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List
import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Example") \
       .getOrCreate()

spark

Hit:1 http://archive.ubuntu.com/ubuntu focal InRelease
Get:2 http://archive.ubuntu.com/ubuntu focal-updates InRelease [114 kB]
Get:3 https://packages.microsoft.com/repos/microsoft-ubuntu-focal-prod focal InRelease [3631 B]
Hit:4 https://dl.yarnpkg.com/debian stable InRelease
Hit:5 http://archive.ubuntu.com/ubuntu focal-backports InRelease
Get:6 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Hit:7 https://repo.anaconda.com/pkgs/misc/debrepo/conda stable InRelease
Get:8 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 Packages [3809 kB]
Get:10 http://archive.ubuntu.com/ubuntu focal-updates/restricted amd64 Packages [3351 kB]
Get:11 http://security.ubuntu.com/ubuntu focal-security/restricted amd64 Packages [3201 kB]3m
Get:12 http://security.ubuntu.com/ubuntu focal-security/main amd64 Packages [3332 kB]33m
Hit:9 https://packagecloud.io/github/git-lfs/ubuntu focal InRelease
Fetched 13.9 MB in 1s (10.1 MB/s)
Reading package lists... Done
Building dependency tree
Reading state information... Done
42 packages can be upgraded. Run 'apt list --upgradable' to see them.
E: Could not open lock file /var/lib/dpkg/lock-frontend - open (13: Permission denied)
E: Unable to acquire the dpkg frontend lock (/var/lib/dpkg/lock-frontend), are you root?
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: pyspark in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pyspark) (0.10.9.7)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Requirement already satisfied: py4j in /usr/local/python/3.10.13/lib/python3.10/site-packages (0.10.9.7)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip

24/02/06 17:16:04 WARN Utils: Your hostname, codespaces-4f3c52 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/02/06 17:16:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/06 17:16:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [26]:
import pandas as pd
df = pd.read_json("https://data.cityofnewyork.us/resource/uip8-fykc.json")
spark_df = spark.createDataFrame(df)

df.head(5)

,arrest_key,arrest_date,pd_cd,pd_desc,ky_cd,ofns_desc,law_code,law_cat_cd,arrest_boro,arrest_precinct,...,x_coord_cd,y_coord_cd,latitude,longitude,geocoded_column,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih,:@computed_region_efsh_h5xi
0,261265483,2023-01-03T00:00:00.000,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1600500,F,B,49,...,1027430,251104,40.855793,-73.843908,"{'type': 'Point', 'coordinates': [-73.843908, ...",59,5,12,32,11270.0
1,261271301,2023-01-03T00:00:00.000,105,STRANGULATION 1ST,106,FELONY ASSAULT,PL 1211200,F,S,120,...,962808,174275,40.644996,-74.077263,"{'type': 'Point', 'coordinates': [-74.077263, ...",4,1,13,74,10369.0
2,261336449,2023-01-04T00:00:00.000,397,"ROBBERY,OPEN AREA UNCLASSIFIED",105,ROBBERY,PL 1601001,F,K,61,...,995118,155708,40.594054,-73.960866,"{'type': 'Point', 'coordinates': [-73.960866, ...",32,2,15,36,18183.0
3,261328047,2023-01-04T00:00:00.000,105,STRANGULATION 1ST,106,FELONY ASSAULT,PL 1211200,F,Q,114,...,1007694,219656,40.769552,-73.915361,"{'type': 'Point', 'coordinates': [-73.915361, ...",39,3,4,72,16860.0
4,261417496,2023-01-05T00:00:00.000,244,"BURGLARY,UNCLASSIFIED,UNKNOWN",107,BURGLARY,PL 1402000,F,B,44,...,1007174,239542,40.824135,-73.917170,"{'type': 'Point', 'coordinates': [-73.91717, 4...",34,5,43,25,10929.0

In [32]:
import requests
# URL for JSON data
json_url = "https://data.cityofnewyork.us/resource/uip8-fykc.json"

# Download JSON data and save it in a file
response = requests.get(json_url)
with open("/workspaces/Procesamiento-Datos/Project/Data/name.json", "wb") as file:
    file.write(response.content)

In [37]:
# Read JSON data into a DataFrame
df = spark.read.json("/workspaces/Procesamiento-Datos/Project/Data/name.json" , multiLine=True)

In [41]:
# Show the DataFrame
df.show()

+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------+-----------+--------------------+----------+---------------+--------------------+-----------------+-----+----------------+----------+----------+-----------------+--------------------+-----+--------------------+---------+--------+----------+----------+
|:@computed_region_92fq_4b7q|:@computed_region_efsh_h5xi|:@computed_region_f5dn_yrer|:@computed_region_sbqj_enih|:@computed_region_yeji_bk3q|age_group|arrest_boro|         arrest_date|arrest_key|arrest_precinct|     geocoded_column|jurisdiction_code|ky_cd|        latitude|law_cat_cd|  law_code|        longitude|           ofns_desc|pd_cd|             pd_desc|perp_race|perp_sex|x_coord_cd|y_coord_cd|
+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------+-----------+--------------------+----------+---------------+--------------------+-----------------+-----+----------------+----------+----------+-----------------+--------------------+-----+--------------------+---------+--------+----------+----------+
|                         12|                      11270|                         59|                         32|                          5|    18-24|          B|2023-01-03T00:00:...| 261265483|             49|{[-73.843908, 40....|                0|  105|       40.855793|         F|PL 1600500|       -73.843908|             ROBBERY|  397|ROBBERY,OPEN AREA...|    BLACK|       M|   1027430|    251104|
|                         13|                      10369|                          4|                         74|                          1|    25-44|          S|2023-01-03T00:00:...| 261271301|            120|{[-74.077263, 40....|                0|  106|       40.644996|         F|PL 1211200|       -74.077263|      FELONY ASSAULT|  105|   STRANGULATION 1ST|    WHITE|       M|    962808|    174275|
|                         15|                      18183|                         32|                         36|                          2|      <18|          K|2023-01-04T00:00:...| 261336449|             61|{[-73.960866, 40....|                0|  105|       40.594054|         F|PL 1601001|       -73.960866|             ROBBERY|  397|ROBBERY,OPEN AREA...|    BLACK|       M|    995118|    155708|
|                          4|                      16860|                         39|                         72|                          3|    18-24|          Q|2023-01-04T00:00:...| 261328047|            114|{[-73.915361, 40....|                0|  106|       40.769552|         F|PL 1211200|       -73.915361|      FELONY ASSAULT|  105|   STRANGULATION 1ST|    BLACK|       M|   1007694|    219656|
|                         43|                      10929|                         34|                         25|                          5|    25-44|          B|2023-01-05T00:00:...| 261417496|             44|{[-73.91717, 40.8...|                0|  107|       40.824135|         F|PL 1402000|        -73.91717|            BURGLARY|  244|BURGLARY,UNCLASSI...|    BLACK|       F|   1007174|    239542|
|                         27|                      13514|                         14|                         48|                          2|    25-44|          K|2023-01-08T00:00:...| 261583093|             76|{[-74.000504, 40....|                0|  106|       40.683691|         F|PL 1200502|       -74.000504|      FELONY ASSAULT|  109|ASSAULT 2,1,UNCLA...|    BLACK|       M|    984110|    188363|
|                         12|                      11270|                         59|                         32|                          5|    25-44|          B|2023-01-09T00:00:...| 261611504|             49|{[-73.839868, 40....|               71|  114|        40.84424|         F|PL 1501500|       -73.839868|               ARSON|  263|         ARSON 2,3,4|    WHITE|       M|   1028555|    246897|
|                         30|                      17613|                         36|                         56|                          2|    25-44|          K|2023-01-14T00:00:...| 261892107|             90|{[-73.955662, 40....|                0|  106|       40.714082|         F|PL 1200501|       -73.955662|      FELONY ASSAULT|  109|ASSAULT 2,1,UNCLA...|    BLACK|       M|    996541|    199439|
|                         26|                      17217|                          5|                         38|                          2|    25-44|          K|2023-01-14T00:00:...| 261926460|             63|{[-73.941384, 40....|                0|  114|       40.628508|         F|PL 1501001|       -73.941384|               ARSON|  263|         ARSON 2,3,4|    BLACK|       M|   1000520|    168264|
|                         39|                      13098|                         47|                         22|                          4|    25-44|          M|2023-02-03T00:00:...| 262973934|             34|{[-73.929256, 40....|                0|  106|       40.861538|         F|PL 1211200|       -73.929256|      FELONY ASSAULT|  105|   STRANGULATION 1ST|    BLACK|       M|   1003818|    253167|
|                         22|                      10935|                         50|                         27|                          5|    45-64|          B|2023-02-06T00:00:...| 263113943|             44|{[-73.906802, 40....|                0|  106|       40.843155|         F|PL 1200501|       -73.906802|      FELONY ASSAULT|  109|ASSAULT 2,1,UNCLA...|    BLACK|       F|   1010036|    246475|
|                         16|                      24337|                         63|                         63|                          3|    25-44|          Q|2023-02-23T00:00:...| 264092077|            105|{[-73.73476, 40.7...|                0|  106|       40.726284|         F|PL 1211300|        -73.73476|      FELONY ASSAULT|  105|   STRANGULATION 1ST|    BLACK|       F|   1057766|    203992|
|                         47|                      20529|                         51|                         59|                          3|    18-24|          Q|2023-01-10T00:00:...| 261635779|            101|{[-73.760999, 40....|                0|  106|       40.599718|         F|PL 1211200|       -73.760999|      FELONY ASSAULT|  105|   STRANGULATION 1ST|    BLACK|       M|   1050620|    157860|
|                         48|                      17212|                         68|                         55|                          2|    18-24|          K|2023-01-11T00:00:...| 261739896|             88|{[-73.975116, 40....|                0|  352|       40.695068|         M|PL 1401502|       -73.975116|   CRIMINAL TRESPASS|  205|TRESPASS 2, CRIMINAL|    BLACK|       F|    991150|    192509|
|                         26|                      17217|                          5|                         38|                          2|    45-64|          K|2023-02-25T00:00:...| 264206386|             63|{[-73.941384, 40....|                0|  106|       40.628508|         F|PL 1211200|       -73.941384|      FELONY ASSAULT|  105|   STRANGULATION 1ST|    BLACK|       M|   1000520|    168264|
|                         35|                      10932|                         49|                         23|                          5|    18-24|          B|2023-01-04T00:00:...| 261361209|             40|{[-73.915909, 40....|                0|  344|       40.809243|         M|PL 1200001|       -73.915909|ASSAULT 3 & RELAT...|  101|           ASSAULT 3|    BLACK|       F|   1007528|    234117|
|                          4|                      16860|                         39|                         72|                          3|    25-44|          Q|2023-03-04T00:00:...| 264544903|            114|{[-73.915361, 40....|                0|  106|       40.769552|         F|PL 1211200|       -73.915361|      FELONY ASSAULT|  105|   STRANGULATION 1ST|    BLACK|       M|   1007694|    219656|
|                          2|                      11275|                         29|                         30|                          5|    25-44|          B|2023-01-23T00:00:...| 262362107|             47|{[-73.847247, 40....|                0|  105|       40.887325|         F|PL 1600500|       -73.847247|             ROBBERY|  397|ROBBERY,OPEN AREA...|    BLACK|       M|   1026486|    262591|
|                         40|                      11605|                         24|                         34|                          5|      <18|          B|2023-01-25T00:00:...| 262497973|             52|{[-73.87986080373...|                0|  104|40.8694704770483|         F|PL 1302501|-73.8798608037303|                RAPE|  153|              RAPE 3|    BLACK|       M|   1017478|    256069|
|                          3|                      14507|                         22|                         67|                          3|    25-44|          Q|2023-02-01T00:00:...| 262813012|            109|{[-73.80927199, 4...|                0|  113|     40.74056238|         F|PL 1701501|     -73.80927199|             FORGERY|  729|FORGERY,ETC.,UNCL...|    WHITE|       F|   1037103|    209141|
+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------+-----------+--------------------+----------+---------------+--------------------+-----------------+-----+----------------+----------+----------+-----------------+--------------------+-----+--------------------+---------+--------+----------+----------+
only showing top 20 rows

In [31]:
import urllib.request

# Download the JSON file locally
json_url = "https://data.cityofnewyork.us/resource/uip8-fykc.json"
local_file_path = "/workspaces/Procesamiento-Datos/Project/Data/data.json"
urllib.request.urlretrieve(json_url, local_file_path)

# Read local JSON file into Spark DataFrame
spark_df = spark.read.json(local_file_path)

# Show the first 5 rows
spark_df.show(5)

AnalysisException: Since Spark 2.3, the queries from raw JSON/CSV files are disallowed when the
referenced columns only include the internal corrupt record column
(named _corrupt_record by default). For example:
spark.read.schema(schema).csv(file).filter($"_corrupt_record".isNotNull).count()
and spark.read.schema(schema).csv(file).select("_corrupt_record").show().
Instead, you can cache or save the parsed results and then send the same query.
For example, val df = spark.read.schema(schema).csv(file).cache() and then
df.filter($"_corrupt_record".isNotNull).count().

In [32]:
# Show the first 5 rows without considering corrupt records
spark_df.drop("_corrupt_record").show(5)

++
||
++
||
||
||
||
||
++
only showing top 5 rows

In [27]:
spark_df.show(5)

+----------+--------------------+-----+--------------------+-----+--------------+----------+----------+-----------+---------------+-----------------+---------+--------+---------+----------+----------+---------+----------+--------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+
|arrest_key|         arrest_date|pd_cd|             pd_desc|ky_cd|     ofns_desc|  law_code|law_cat_cd|arrest_boro|arrest_precinct|jurisdiction_code|age_group|perp_sex|perp_race|x_coord_cd|y_coord_cd| latitude| longitude|     geocoded_column|:@computed_region_f5dn_yrer|:@computed_region_yeji_bk3q|:@computed_region_92fq_4b7q|:@computed_region_sbqj_enih|:@computed_region_efsh_h5xi|
+----------+--------------------+-----+--------------------+-----+--------------+----------+----------+-----------+---------------+-----------------+---------+--------+---------+----------+----------+---------+----------+--------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+
| 261265483|2023-01-03T00:00:...|  397|ROBBERY,OPEN AREA...|  105|       ROBBERY|PL 1600500|         F|          B|             49|                0|    18-24|       M|    BLACK|   1027430|    251104|40.855793|-73.843908|{coordinates -> [...|                         59|                          5|                         12|                         32|                    11270.0|
| 261271301|2023-01-03T00:00:...|  105|   STRANGULATION 1ST|  106|FELONY ASSAULT|PL 1211200|         F|          S|            120|                0|    25-44|       M|    WHITE|    962808|    174275|40.644996|-74.077263|{coordinates -> [...|                          4|                          1|                         13|                         74|                    10369.0|
| 261336449|2023-01-04T00:00:...|  397|ROBBERY,OPEN AREA...|  105|       ROBBERY|PL 1601001|         F|          K|             61|                0|      <18|       M|    BLACK|    995118|    155708|40.594054|-73.960866|{coordinates -> [...|                         32|                          2|                         15|                         36|                    18183.0|
| 261328047|2023-01-04T00:00:...|  105|   STRANGULATION 1ST|  106|FELONY ASSAULT|PL 1211200|         F|          Q|            114|                0|    18-24|       M|    BLACK|   1007694|    219656|40.769552|-73.915361|{coordinates -> [...|                         39|                          3|                          4|                         72|                    16860.0|
| 261417496|2023-01-05T00:00:...|  244|BURGLARY,UNCLASSI...|  107|      BURGLARY|PL 1402000|         F|          B|             44|                0|    25-44|       F|    BLACK|   1007174|    239542|40.824135| -73.91717|{coordinates -> [...|                         34|                          5|                         43|                         25|                    10929.0|
+----------+--------------------+-----+--------------------+-----+--------------+----------+----------+-----------+---------------+-----------------+---------+--------+---------+----------+----------+---------+----------+--------------------+---------------------------+---------------------------+---------------------------+---------------------------+---------------------------+
only showing top 5 rows

# Bonus

## Web Scrapping

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the website
url = "https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoodpop.htm"

# Send a GET request to the URL
response = requests.get(url)

# Parse the HTML content of the page
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table with the specified class
table = soup.find('table', {'class': 'light_table right'})

# Extract the table rows
rows = table.find_all('tr')

# Extracting data from each row
data = []
for row in rows:
    cols = row.find_all(['th', 'td'])
    cols = [col.text.strip() for col in cols]
    data.append(cols)

# Create a DataFrame from the extracted data
columns = data[0]  # Assuming the first row contains column headers
df = pd.DataFrame(data[1:], columns=columns)

# Display the head of the DataFrame
print(df.head())

  Borough                                     region   Males Females  \
0   Bronx         Riverdale, Fieldston & Kingsbridge  52,133  61,937
1               Wakefield, Williamsbridge & Woodlawn  65,087  77,848
2             Co-op City, Pelham Bay & Schuylerville  55,615  65,929
3              Pelham Parkway, Morris Park & Laconia  61,233  67,896
4          Belmont, Crotona Park East & East Tremont  75,963  87,740

  Total Population
0          114,070
1          142,935
2          121,544
3          129,130
4          163,704

## API

In [4]:
%pip install pyowm

Requirement already satisfied: pyowm in /usr/local/python/3.10.13/lib/python3.10/site-packages (3.3.0)
Requirement already satisfied: requests<3,>=2.20.0 in /home/codespace/.local/lib/python3.10/site-packages (from pyowm) (2.31.0)
Requirement already satisfied: geojson<3,>=2.3.0 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pyowm) (2.5.0)
Requirement already satisfied: PySocks<2,>=1.7.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from pyowm) (1.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.20.0->pyowm) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.20.0->pyowm) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from requests<3,>=2.20.0->pyowm) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests<3,>=2.20.0->pyowm) (2023.11.17)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
from pyowm import OWM
from pyowm.utils import config
from pyowm.utils import timestamps

In [25]:
from pyowm.owm import OWM
owm = OWM('db5829c814693c6429a0ea9db06f3dce')

mgr = owm.weather_manager()


# Search for current weather in London (Great Britain) and get details
observation = mgr.weather_at_place('London,GB')
w = observation.weather

w.detailed_status         # 'clouds'
w.wind()                  # {'speed': 4.6, 'deg': 330}
w.humidity                # 87
w.temperature('celsius')  # {'temp_max': 10.5, 'temp': 9.7, 'temp_min': 9.0}
w.rain                    # {}
w.heat_index              # None
w.clouds

75